@use"common";
@use"components/header/header";
@use"components/header/content";
@use"components/main/section";
@use"components/main/experience";
@use"components/main/video";
@use"components/footer/footer";
